body {
  background-color: #2A2A72;
  font-family:  helvetica, sans-serif;

}

h1, h2 {
  color:  #9FAF90;
  <!-- "color" generally applies to text -->
}

a {
  color:  #E69E4C;
}

p {
    color:  #FCEFF9;
}

img {
  max-width: 100%;
  height:  auto;
}
